.root {
	-fx-background-color: #0000A0;
}

.button {
	-fx-font-size: 24 pt;
	-fx-background-radius: 16;
	-fx-font-family: "Tahoma";
	-fx-font-weight: BOLD;
}

.combo-box {
	-fx-font-size: 24 pt;
	-fx-background-radius: 16;
	-fx-font-family: "Tahoma";
	-fx-font-weight: BOLD;
	-fx-min-width: 320;
}

.text {
	-fx-font-size: 24 pt;
	-fx-font-family: "Tahoma";
	-fx-font-weight: BOLD;
	-fx-color: White;
}